src/main/resources/META-INF/eosgi-dist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2011 Everit Kft. (http://everit.org)

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<schema targetNamespace="http://everit.org/eosgi/dist/definition/2.0.0"
    elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://everit.org/eosgi/dist/definition/2.0.0">

    <annotation>
      <documentation>The schema of the XML that describes the distribution environment. The XML file is parsed with Velocity before processing. The folling variables can be used:
<ul>
  <li>distributableArtifacts: List of DistributableArtifact objects</li>
  <li>environment: An EnvironmentConfiguration object</li>
  <li>copyMode: The default copy mode that should be used during distributing artifacts</li>
  <li>distUtil: A class that contains util functions that help creating a distribution package.</li>
</ul>
</documentation></annotation>
    <element name="distributionPackage" type="tns:DistributionPackageType">
        <annotation>
          <documentation></documentation>
        </annotation>
    </element>

    <complexType name="DistributionPackageType">
      <sequence maxOccurs="1" minOccurs="0">
        <element name="artifacts" type="tns:ArtifactsType" maxOccurs="1" minOccurs="0">
          <annotation>
            <documentation>
              Artifacts that should be resolved (downloaded and copied) into the distribution package.
            </documentation>
          </annotation>
        </element>
        <element name="parseables" type="tns:ParseablesType" maxOccurs="1" minOccurs="0"></element>
        <element name="launchers" type="tns:LaunchersType" minOccurs="0" maxOccurs="1">
          <annotation>
            <documentation>Start command is necessary to be able to start integration tests on server.</documentation>
          </annotation>
        </element>
      </sequence>
      <attribute name="copyMode" type="tns:CopyModeType" use="required"></attribute>
    </complexType>

    <complexType name="ArtifactType">
        <annotation>
          <documentation>A maven artifact with additional information.</documentation>
        </annotation>
        <sequence>
        <element name="groupId" type="string" minOccurs="1" maxOccurs="1"></element>
        <element name="artifactId" type="string" minOccurs="1" maxOccurs="1"></element>
        <element name="version" type="string" minOccurs="1" maxOccurs="1"></element>
        <element name="type" type="string" minOccurs="0" maxOccurs="1"></element>
        <element name="classifier" type="string" minOccurs="0" maxOccurs="1"></element>
        <element name="bundle" type="tns:BundleDataType" minOccurs="0" maxOccurs="1">
          <annotation>
            <documentation>In case this is an OSGi bundle, additional behavior can be defined.</documentation>
          </annotation>
        </element>
      </sequence>
      <attribute name="targetFolder" type="string">
        <annotation>
          <documentation>The target folder where the artifact should be copied to inside the distribution package.</documentation>
        </annotation>
      </attribute>
      <attribute name="targetFile" type="string">
        <annotation>
          <documentation>The target name of the artifact file. If not specified, the target file will have the same name as the maven artifact file.</documentation>
        </annotation></attribute>
      <attribute name="copyMode" type="tns:CopyModeType">
        <annotation>
          <documentation>Either creating a symbolic link or copying the artifact file.</documentation>
        </annotation></attribute>
    </complexType>

    <complexType name="ArtifactsType">
        <sequence>
            <element name="artifact" type="tns:ArtifactType"
                maxOccurs="unbounded"></element>
        </sequence>
    </complexType>

    <complexType name="ParseablesType">
        <sequence>
            <element name="parseable" type="tns:ParseableType"
                maxOccurs="unbounded"></element>
        </sequence>
    </complexType>

    <complexType name="ParseableType">
        <annotation>
          <documentation>A file that will be parsed with Velocity after distributing the artifacts. The following variables can be used:

The schema of the XML that describes the distribution environment. The XML file is parsed with Velocity before processing. The folling variables can be used:
<ul>
  <li>distributableArtifacts: List of DistributableArtifact objects</li>
  <li>environment: An EnvironmentConfiguration object</li>
  <li>distributionPackage: The content of the distribution package XML (that is described by this schema)</li>
  <li>escapeTool:  A simply utility class that can be used to do escapes</li>
  <li>distUtil: A class that contains util functions that help creating a distribution package.</li>
</ul>
</documentation>
        </annotation>
        <attribute name="path" type="string" >
          <annotation>
            <documentation>Path of the parseable  file.</documentation>
          </annotation></attribute>
        <attribute name="encoding" type="string" >
          <annotation>
            <documentation>The encoding of the parseable file.</documentation>
          </annotation></attribute>
    </complexType>



    <complexType name="LaunchersType">
        <sequence>
            <element name="launcher" type="tns:LauncherType"
                maxOccurs="unbounded" minOccurs="0"></element>
        </sequence>
    </complexType>

    <complexType name="LauncherType">
        <sequence>
            <element name="startCommand" type="tns:CommandType">
              <annotation>
                <documentation>The command that starts the framework. The framework should be started in the way that it will be stopped by sending a SIGTERM signal.</documentation>
              </annotation></element>
        </sequence>
        <attribute name="os">
            <annotation>
              <documentation>The type of the operating system.</documentation>
            </annotation>
            <simpleType>
                <restriction base="string">
                    <enumeration value="windows"></enumeration>
                    <enumeration value="linux"></enumeration>
                    <enumeration value="mac"></enumeration>
                    <enumeration value="sunos"></enumeration>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <complexType name="CommandType">
        <simpleContent>
            <extension base="string">
                <attribute name="folder" type="string" use="optional">
                  <annotation>
                    <documentation>The path of the working directory where the command should be executed.</documentation>
                  </annotation></attribute>
            </extension>
        </simpleContent>
    </complexType>

    <complexType name="BundleDataType">
      <sequence>
        <element name="symbolicName" type="string" minOccurs="1" maxOccurs="1">
          <annotation>
            <documentation>Symbolic name of the bundle</documentation>
          </annotation></element>
            <element name="version" type="string" minOccurs="1" maxOccurs="1">
              <annotation>
                <documentation>Version of the bundle</documentation>
              </annotation></element>
            <element name="location" type="string" minOccurs="1" maxOccurs="1">
              <annotation>
                <documentation>The file URI that can be used to update/install the bundle. It might start with "reference:file:" or "file:".</documentation>
              </annotation></element>
        </sequence>
      <attribute name="action" type="tns:OSGiActionType" use="required">
        <annotation>
          <documentation>An action that should be done with the bundle</documentation>
        </annotation></attribute>
      <attribute name="startLevel" type="int" use="optional">
        <annotation>
          <documentation>Start level of the bundle (optional)</documentation>
        </annotation></attribute>
    </complexType>

    <simpleType name="CopyModeType">
      <restriction base="string">
        <enumeration value="file"></enumeration>
        <enumeration value="symbolicLink"></enumeration>
      </restriction>
    </simpleType>

    <simpleType name="OSGiActionType">
      <restriction base="string">
        <enumeration value="none"></enumeration>
        <enumeration value="install"></enumeration>
        <enumeration value="start"></enumeration>
      </restriction>
    </simpleType>
</schema>